\:host

  #container
    padding: 10px
    text-align: center

    h1, h2
      text-align: center

    button
      margin-right: 4px

    button:focus
      outline: 0

    .generated
      background-color: lightgreen

    .error
      background-color: lightcoral
