<div class="icon noselect fa-2x">
  <fa-layers id="icons" [fixedWidth]="true">
    {{userStatus}}
    <fa-icon icon="location-arrow" [className]="!userStatus || userStatus === 'idle' ? 'visible' : 'invisible'"></fa-icon>
    <fa-icon [icon]="['far', 'compass']" [spin]="true" [className]="userStatus === 'fetching' ? 'visible' : 'invisible'"></fa-icon>
    <fa-icon [icon]="['fa', 'hiking']" [className]="userStatus === 'tracking' ? 'visible' : 'invisible'"></fa-icon>
    <fa-icon id="error" icon="exclamation-triangle" [className]="userStatus === 'error' ? 'visible' : 'invisible'"></fa-icon>
  </fa-layers>
</div>

<div class="mat-list-text">
  <h2 matLine>You</h2>
  <p matLine>
    <span *ngIf="userStatus !== 'tracking'">{{userStatus}}</span>
    <span *ngIf="userStatus === 'tracking' && data.anchorPoint && data.waypoint">{{data.anchorPoint.distanceTotal | distance:'meters':'miles':false:2:true}} ({{data.waypoint.distance | distance:'meters':'miles':true}})</span>
  </p>
</div>
