<div class="icon noselect fa-2x">
  <fa-layers id="icons" [fixedWidth]="true">
    <fa-icon icon="location-arrow" [className]="data.label === 'idle' ? 'visible' : 'invisible'"></fa-icon>
    <fa-icon [icon]="['far', 'compass']" [spin]="true" [className]="data.label === 'fetching' ? 'visible' : 'invisible'"></fa-icon>
    <fa-icon [icon]="['fa', 'hiking']" [className]="data.label === 'tracking' ? 'visible' : 'invisible'"></fa-icon>
    <fa-icon id="error" icon="exclamation-triangle" [className]="data.label === 'error' ? 'visible' : 'invisible'"></fa-icon>
  </fa-layers>
</div>

<div class="mat-list-text">
  <h2 matLine>You</h2>
  <p matLine>
    <span *ngIf="data.label !== 'tracking'">{{data.label}}</span>
    <span *ngIf="data.anchorPoint && data.waypoint">{{data.anchorPoint.distanceTotal | distance:'meters':'miles':false:2:true}} {{data.waypoint.distance | distance:'meters':'miles':true}}</span>
  </p>
  <button *ngIf="data.label === 'tracking'">center</button>
</div>
