<div id="content" class="left" (click)="toggleTracking()" matRipple>
  <div class="main noselect">
    <h2>You ({{data.label}})</h2>
    <small *ngIf="data.anchorPoint && data.waypoint">{{data.anchorPoint.distanceTotal | distance:'meters':'miles':false:2:true}} {{data.waypoint.distance | distance:'meters':'miles':true}}</small>
  </div>
  <!--<button (click)="toggleTracking()">-->
    <!--track-->
  <!--</button>-->
  <fa-icon icon="location-arrow" class="icon" size="2x" [className]="data.label === 'idle' ? 'visible' : 'invisible'"></fa-icon>
  <fa-icon [icon]="['far', 'compass']" class="icon" [spin]="true" size="2x" [className]="data.label === 'fetching' ? 'visible' : 'invisible'"></fa-icon>
  <fa-icon [icon]="['fa', 'hiking']" class="icon" size="2x" [className]="data.label === 'tracking' ? 'visible' : 'invisible'"></fa-icon>
  <fa-icon id="error" class="icon" icon="exclamation-triangle" size="2x" [className]="data.label === 'error' ? 'visible' : 'invisible'"></fa-icon>

  <!--<display-icon class="icon" [data]="this.poiTypes" showRating="true"></display-icon>-->
</div>
