<div id="main">

  <!--idle-->
  <button *ngIf="hasUpdate && !isActive" mat-fab class="download" (click)="onButtonClick('download')">
    <fa-icon icon="download" size="lg"></fa-icon>
  </button>

  <!--downloading-->
  <button *ngIf="isActive && !hasFile" mat-fab class="cancel" (click)="onButtonClick('cancel')">
      <fa-icon icon="times" size="lg"></fa-icon>
    </button>

  <!-- download complete / has file-->
  <button *ngIf="!hasUpdate && !isActive" mat-fab class="delete" (click)="onButtonClick('clear')">
    <fa-icon icon="trash" size="lg"></fa-icon>
  </button>
</div>
<div id="meta">
  <h3>{{type + ' data '}}<small>{{'v' + version}}</small></h3>
  <div>
    <p *ngIf="!isActive && hasUpdate">{{trailMeta[type + 'FileSize'] | filesize}}</p>
    <p *ngIf="!isActive && !hasUpdate">Downloaded</p>
    <!--<p *ngIf="isActive">{{progressLabel}}</p>-->
    <mat-progress-bar *ngIf="isActive" mode="determinate" [value]="progress" class="progress"></mat-progress-bar>
  </div>
</div>
