<div id="main">

  <button *ngIf="!isActive && !hasFiles" mat-fab class="idle" (click)="onButtonClick('download')">
    <fa-icon icon="atlas" size="lg"></fa-icon>
  </button>

  <button *ngIf="isActive && !hasFiles" mat-fab class="downloading" (click)="onButtonClick('cancel')">
    <fa-icon icon="spinner" [pulse]="true" size="lg"></fa-icon>
  </button>

  <button *ngIf="hasFiles && !isActive" mat-fab class="delete" (click)="onButtonClick('clear')">
    <fa-icon icon="trash" size="lg"></fa-icon>
  </button>

  <div id="meta">
    <h3>{{label}}</h3>
    <div>
      <p *ngIf="!isActive && !hasFiles">{{fileSize | filesize}}</p>
      <p *ngIf="!isActive && hasFiles">Downloaded</p>
      <p *ngIf="isActive">{{progress}}%</p>
    </div>
  </div>
</div>
