<mat-card>
  <mat-card-header>
    <mat-card-title>About</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>This app was developed by Frank Douwes, after successfully finishing the triple crown in 2019.</p>
    <p>While hiking I valued a good elevation profile over maps, this app is an attempt to give future hikers exactly that.</p>
  </mat-card-content>

  <!--<mat-card-header>-->
    <!--<mat-card-title>Report Bug / Contact</mat-card-title>-->
  <!--</mat-card-header>-->

  <!--<mat-card-content>-->
    <!--<p>Found something that needs fixing, or just have a suggestion for improvements? feel free to contact me using the form below:</p>-->
  <!--</mat-card-content>-->

  <!--<mat-card-content class="form-container">-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Name" type="text" required>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<mat-select placeholder="Type" required>-->
        <!--<mat-option value="bug">Bug Report</mat-option>-->
        <!--<mat-option value="message">Message</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<textarea matInput placeholder="Message" rows="5" required></textarea>-->
    <!--</mat-form-field>-->
    <!--<button>Send</button>-->
  <!--</mat-card-content>-->

  <!--<br/><br/>-->

  <mat-card-header>
    <mat-card-title>Sources</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ul>
      <li>Halfmile's PCT maps - <a href="https://www.pctmap.net">pctmap.net</a></li>
      <li>Jonathan Ley's CDT maps - <a href="http://phlumf.com">phlumf.com</a></li>
      <li>AT? - <a href="">AT</a></li>
      <li>National Park typeface - <a href="http://nationalparktypeface.com">nationalparktypeface.com</a></li>
    </ul>
  </mat-card-content>
</mat-card>

