<div id="container">


  <div class="right {{this.oppositeClass}}">
    <locator-button></locator-button>
  </div>

  <div class="right {{this.oppositeClass}}">
    <settings-button (click)="onSettingsClick()" [updateAvailable]="updateAvailable" [isDownloading]="isDownloading"></settings-button>
  </div>

  <div class="right {{this.oppositeClass}}" *ngIf="isAdmin">
    <display-button class="button" label="" icon="skull" (click)="onAdminClick()"></display-button>
  </div>

  <div class="left {{this.visibleClass}}">
    <display-button class="button back" label="" icon="arrow-left" (click)="onBackClick()"></display-button>
  </div>

  <div id="center-user-btn" [class]="dynamicSide" *ngIf="locationStatus === 'tracking'">
    <display-button class="button" label="" icon="street-view" (click)="onCenterUserClick()"></display-button>
  </div>

</div>
