\:host /deep/ .mat-list-item-content
  padding: 0 12px !important
  margin: 0 !important

#center-icon
  position: absolute
  left: 50%
  margin: -3.5vw 0 0 -3.5vw
  z-index: 1000

  button
    user-focus: none

#left-panel, #right-panel
  box-sizing: border-box
  display: inline-block
  width: 50%
  height: 100%
  padding: 0 12px 12px 12px

#left-panel
  height: 98%
  vertical-align: bottom
  overflow-y: scroll

  h1, h2
    display: block
    text-align: left
    width: 90%
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

    h1
      font-size: 4.2vh
      padding: 0 12px

    h2
      font-size: 3.4vh
      font-weight: 300

#right-panel
  background-color: #AAAAAA
  padding-top: 10px
  vertical-align: top

  #scroll-container
    height: 100%
    overflow-y: scroll

    h3
      text-align: center

    .related-poi-list
      height: calc((100vh / 7) * 3.75)


