<div id="center-icon" >
  <display-button class="button" label="" [poiTypes]="poiTypes" routerLink=""></display-button>
</div>

<!-- left -->
<div id="left-panel">
  <button *ngIf="data.type.includes('note')" (click)="deletePoi()">delete</button>

  <button (click)="addNote()">add note</button>

  <!-- information -->
  <div id="information-container">

    <h1 mat-dialog-title [innerHTML]="data.label"></h1>
    <h2 id="mileage" *ngIf="data.anchorPoint && data.waypoint">{{data.anchorPoint.distanceTotal | distance:'meters':'miles'}} ({{data.waypoint.distance | distance:'meters':'miles':true}})</h2>
    <small *ngIf="data.identifier">{{data.identifier}}</small>

    <div id="description" *ngIf="data.description">
      <p [innerHTML]="data.description"></p>
    </div>

    <div id="comment" *ngIf="data.comment">
      <p [innerHTML]="data.comment"></p>
    </div>

  </div>

  <!-- rating -->
  <rating *ngIf="rateable" [waypoint]="data.waypoint" [poiTypes]="poiTypes" [update]="update"></rating>

</div>

<!-- right -->
<div id="right-panel" [ngStyle]="{'background-color': poiTypes[0].color} ">
  <div id="scroll-container">

    <button *ngIf="showBackBtn" id="back-btn"(click)="goBack()">< back</button>

    <div class="related-poi-list" *ngFor="let poiGroup of poiCollection">
      <h3>Next {{relatedLabel(poiGroup['label'])}}</h3>
      <poi-list
        class="poi-list"
        [showUser]="false"
        [masterPoi]="data"
        [poisData]="poiGroup['data']">
      </poi-list>
    </div>
  </div>
</div>
