<div id="center-icon" >
  <display-button class="button" label="" [poiTypes]="this.poiTypes" routerLink=""></display-button>
</div>

<!-- left -->
<div id="left-panel">
  <button *ngIf="data.type.includes('note')" (click)="deletePoi()">delete</button>
  <h1 mat-dialog-title>{{data.label}}</h1>
  <h3 *ngIf="data.anchorPoint && data.waypoint">{{data.anchorPoint.distanceTotal | distance:'meters':'miles'}} ({{data.waypoint.distance | distance:'meters':'miles':true}})</h3>

  <div *ngIf="data.description">
    <p [innerHTML]="data.description"></p>
    <hr />
  </div>

  <div *ngIf="data.comment">
    <p [innerHTML]="data.comment"></p>
    <hr />
  </div>
  <div *ngFor="let type of poiTypes">
    <rating-form *ngIf="type.rateable" [poiType]="type" [waypoint]="data.waypoint"></rating-form>
  </div>
</div>

<!-- right -->
<div id="right-panel" [ngStyle]="{'background-color': poiTypes[0].color} ">
  <div id="scroll-container">
    <div class="related-poi-list" *ngFor="let poiGroup of poiCollection">
      <h3>Next {{relatedLabel(poiGroup.label)}}</h3>
      <poi-list
        class="poi-list"
        [showUser]="false"
        [masterPoi]="data"
        [poisData]="poiGroup.data">
      </poi-list>
    </div>
  </div>
</div>
