<div id="center-icon" >
  <display-button class="button" label="" [poiTypes]="this.poiTypes" routerLink=""></display-button>
</div>

<!-- left -->
<div id="left-panel">
  <h1 mat-dialog-title>{{data.label}}</h1>
  <p [innerHTML]="data.description"></p>
  <small *ngIf="data.anchorPoint && data.waypoint">{{data.anchorPoint.distanceTotal | distance:'meters':'miles'}} ({{data.waypoint.distance | distance:'meters':'miles':true}})</small>
  <poi-list class="poi-list"></poi-list>
</div>



<!-- right -->
<div id="right-panel" [ngStyle]="{'background-color': this.poiTypes[0].color}">
</div>
