\:host

  .background-layer
    position: fixed
    width: 100vw
    height: 50vh
    top: 20%
    background: url("../../../../assets/images/backdrop.jpg") repeat-x
    transition: opacity 0.3s linear

  .background-layer-flat
    position: fixed
    width: 100vw
    height: 50vh
    top: 20%
    background: url("../../../../assets/images/backdrop.jpg") repeat-x
    transition: opacity 0.3s linear

  .virtual-list
    position: unset !important
    display: block
    width: 100vw
    height: 90vh
    overflow-y: hidden;
    white-space: nowrap;

  .cdk-virtual-scroll-content-wrapper
    position: unset !important

::ng-deep

  .cdk-virtual-scroll-content-wrapper
    //padding: 0 16px

  .cdk-virtual-scroll-orientation-horizontal::-webkit-scrollbar-thumb
    background-color: red

  .cdk-virtual-scroll-content-wrapper::-webkit-scrollbar-thumb
    background-color: red
