.virtual-list
  position: unset !important
  display: block
  width: 100vw
  height: 90vh
  overflow-y: hidden;
  white-space: nowrap;

.cdk-virtual-scroll-content-wrapper
  position: unset !important

::ng-deep .cdk-virtual-scroll-content-wrapper
  //padding: 0 16px
