\:host
  .cdk-virtual-scroll-orientation-vertical, .cdk-virtual-scroll-content-wrapper, .cdk-virtual-scroll-viewport
    display: block

  .cdk-virtual-scroll-orientation-horizontal
    padding-bottom: 25px
    height: 90vh
