<?xml version='1.0' encoding='utf-8'?>
<widget id="hike.frankdouwes.com" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Just Hike</name>
    <description>
      Long Distance Hiking Companion
    </description>
    <author email="frankdouwes@gmail.com" href="http://hike.frankdouwes.com">
        Frank Douwes
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Fullscreen" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="SplashScreen" value="screen" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidLaunchMode" value="singleInstance" />
        <icon density="ldpi" src="res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
        <splash density="land-hdpi" src="res/screen/Default@2x~universal~anyany.png" />
        <splash density="land-ldpi" src="res/screen/Default@2x~universal~anyany.png" />
        <splash density="land-mdpi" src="res/screen/Default@2x~universal~anyany.png" />
        <splash density="land-xhdpi" src="res/screen/Default@2x~universal~anyany.png" />
        <splash density="port-hdpi" src="res/screen/Default@2x~universal~anyany.png" />
        <splash density="port-ldpi" src="res/screen/Default@2x~universal~anyany.png" />
        <splash density="port-mdpi" src="res/screen/Default@2x~universal~anyany.png" />
        <splash density="port-xhdpi" src="res/screen/Default@2x~universal~anyany.png" />
    </platform>
    <platform name="ios">
        <preference name="BackupWebStorage" value="none" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="res/screen/Default@2x~universal~anyany.png" />
    </platform>
    <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
        <string>Requires geolocation.</string>
    </edit-config>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-geolocation" spec="~4.0.2-dev" />
    <plugin name="cordova-plugin-screen-orientation" spec="~3.0.1" />
    <plugin name="cordova-plugin-downloader" spec="~0.0.4" />
    <preference name="KeepRunning" value="false" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="Orientation" value="landscape" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="Suppresses3DTouchGesture" value="true" />
    <preference name="SuppressesLongPressGesture" value="true" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <plugin name="cordova-plugin-ionic-webview" spec="4.0.0">
        <variable name="ANDROID_SUPPORT_ANNOTATIONS_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-device-orientation" spec="^2.0.1" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <engine name="android" spec="^7.1.4" />
    <engine name="ios" spec="^5.0.0" />
    <engine name="browser" spec="^5.0.4" />
</widget>
