<?xml version='1.0' encoding='utf-8'?>
<widget id="hike.frankdouwes.com" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <hook type="before_build" src="hooks/keyboard.js" />
    <name>Just Hike</name>
    <description>
      Long Distance Hiking Companion
    </description>
    <author email="frankdouwes@gmail.com" href="http://hike.frankdouwes.com">
        Frank Douwes
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Fullscreen" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="1250" />
    <preference name="SplashScreen" value="screen" />
    <platform name="android">
      <allow-intent href="market:*" />
      <preference name="AndroidLaunchMode" value="singleInstance" />
      <icon src="res/icon/android/Icon-48.png" density="mdpi" />
      <icon src="res/icon/android/Icon-72.png" density="hdpi" />
      <icon src="res/icon/android/Icon-96.png" density="xhdpi" />
      <icon src="res/icon/android/Icon-144.png" density="xxhdpi" />
      <icon src="res/icon/android/Icon-192.png" density="xxxhdpi" />

      <splash density="land-hdpi" src="res/screen/Default@2x~universal~anyany.png" />
      <splash density="land-ldpi" src="res/screen/Default@2x~universal~anyany.png" />
      <splash density="land-mdpi" src="res/screen/Default@2x~universal~anyany.png" />
      <splash density="land-xhdpi" src="res/screen/Default@2x~universal~anyany.png" />
      <splash density="port-hdpi" src="res/screen/Default@2x~universal~anyany.png" />
      <splash density="port-ldpi" src="res/screen/Default@2x~universal~anyany.png" />
      <splash density="port-mdpi" src="res/screen/Default@2x~universal~anyany.png" />
      <splash density="port-xhdpi" src="res/screen/Default@2x~universal~anyany.png" />
    </platform>
    <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/icon/ios/Icon-180.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/icon/ios/Icon-60.png" width="60" height="60" />
        <icon src="res/icon/ios/Icon-120.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/icon/ios/Icon-76.png" width="76" height="76" />
        <icon src="res/icon/ios/Icon-152.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="res/icon/ios/Icon-40.png" width="40" height="40" />
        <icon src="res/icon/ios/Icon-80.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="res/icon/ios/Icon-57.png" width="57" height="57" />
        <icon src="res/icon/ios/Icon-114.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/icon/ios/Icon-72.png" width="72" height="72" />
        <icon src="res/icon/ios/Icon-144.png" width="144" height="144" />
        <!-- iPad Pro -->
        <icon src="res/icon/ios/Icon-167.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/icon/ios/Icon-29.png" width="29" height="29" />
        <icon src="res/icon/ios/Icon-58.png" width="58" height="58" />
        <icon src="res/icon/ios/Icon-87.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/icon/ios/Icon-50.png" width="50" height="50" />
        <icon src="res/icon/ios/Icon-100.png" width="100" height="100" />
        <!-- iPad Pro -->
        <icon src="res/icon/ios/Icon-167.png" width="167" height="167" />

        <preference name="BackupWebStorage" value="none" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="res/screen/Default@2x~universal~anyany.png" />
    </platform>
    <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
        <string>Requires geolocation.</string>
    </edit-config>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-geolocation" spec="~4.0.2-dev" />
    <plugin name="cordova-plugin-screen-orientation" spec="~3.0.1" />
    <plugin name="cordova-plugin-downloader" spec="~0.0.4" />
    <preference name="KeepRunning" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="landscape" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="Suppresses3DTouchGesture" value="true" />
    <preference name="SuppressesLongPressGesture" value="true" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <plugin name="cordova-plugin-device-orientation" spec="^2.0.1" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <engine name="ios" spec="^5.0.0" />
    <engine name="browser" spec="^5.0.4" />
</widget>
