  <div id="center-icon" >
    <display-button class="button" label="" icon="{{data['icon']}}" routerLink=""></display-button>
  </div>

  <!-- left -->
  <div id="left-panel">

    <div id="setings-meta">
      <h1>Settings</h1>
      <div mat-dialog-content>
        <p>Select a topic below</p>
      </div>
    </div>

    <mat-action-list id="settings-menu">
      <button [disableRipple]="true" *ngFor="let item of listItems" mat-list-item (click)="onClick(item)"> <h2>{{item.title}}</h2><span><fa-icon icon="angle-right" size="lg"></fa-icon></span></button>
    </mat-action-list>
  </div>

  <!-- right -->
  <div id="right-panel" #contentPanel>

    <!-- purchase / download panel -->
    <instructions *ngIf="!activePanel"></instructions>

    <!-- purchase trails -->
    <purchase-settings *ngIf="activePanel === 'purchase'" (onSettingsChanged)="onSettingsChanged($event)"></purchase-settings>

    <!-- trail data -->
    <trail-settings *ngIf="activePanel === 'trail'" (onSettingsChanged)="onSettingsChanged($event)"></trail-settings>

    <!-- trail data -->
    <user-settings *ngIf="activePanel === 'user'" (onSettingsChanged)="onSettingsChanged($event)"></user-settings>

    <!-- general settings panel -->
    <general-settings *ngIf="activePanel === 'general'" (onSettingsChanged)="onSettingsChanged($event)"></general-settings>

    <!-- about panel-->
    <about *ngIf="activePanel === 'about'"></about>

  </div>
