<!--<poi-list id="poi-list"></poi-list>-->

<div id="layout">
  <div id="main">
    <leaflet-map

      name="detail-map"

      [allowPanning]=true
      [allowZooming]=true
      [showPois]=true
      [showMapTiles]=true
      [activeMileId]="routedMile"
      [centerPoint]="centerPoint"
      [range]="{behind: 4, ahead: 4}"
    >
    </leaflet-map>
    <div id="overlay"></div>
  </div>
  <div id="list">
    <poi-list [milesData]="trailData.miles" [showUser]="true" [activeMileId]="routedMile" (scrollToEvent)="onScrollTo($event)"></poi-list>
  </div>
</div>
