<div id="layout">
  <div id="main">
    <leaflet-map

      name="detail-map"

      [allowPanning]=true
      [allowZooming]=true
      [showPois]=true
      [showMapTiles]=true
      [activeMileId]="routedMile"
      [centerPoint]="centerPoint"
      [poiRange]="visiblePoi"
      [range]="{behind: 4, ahead: 4}"
      [trigger]="centerUserTrigger"
    >
    </leaflet-map>
    <div id="overlay"></div>    <!-- inner shadow -->
    <button *ngIf="isTracking" id="center-user-btn" (click)="centerOnUser()">center user</button>
  </div>
  <div id="list">
    <poi-list
      [directionReversal]="isNobo"
      [milesData]="trailData.miles"
      [showUser]="true"
      [activeMileId]="routedMile"
      [trigger]="centerUserTrigger"

      (scrollToEvent)="onScrollTo($event)">

    </poi-list>
  </div>
</div>
