<button id="locator" (click)="onClick()" [className]="(status === 'tracking' && showMiniMap) ? 'active' : 'inactive'" #container>
  <span *ngIf="user && showMiniMap">
    <leaflet-map

      id="mini-map"

      [className]="status === 'tracking' ? 'visible' : 'invisible'"

      name="mini-map"

      [allowPanning]=false
      [allowZooming]=false
      [showPois]=false
      [showMapTiles]=true
      [activeMileId]="nearestMileId"
      [userCentered]=true
      [range]="{behind: 2, ahead: 2}"
    >
    </leaflet-map>
  </span>
  <fa-layers [fixedWidth]="true">
    <fa-icon icon="location-arrow" size="2x" [className]="status === 'idle' ? 'visible' : 'invisible'"></fa-icon>
    <fa-icon [icon]="['far', 'compass']" [spin]="true" size="2x" [className]="status === 'fetching' ? 'visible' : 'invisible'"></fa-icon>
    <fa-icon icon="hiking" size="2x" [className]="status === 'tracking' && !showMiniMap ? 'visible' : 'invisible'"></fa-icon>
    <fa-icon id="error" icon="exclamation-triangle" size="2x" [className]="status === 'error' ? 'visible' : 'invisible'"></fa-icon>
  </fa-layers>
</button>
