<mat-card-content #container>

  <!--<h2>Add location</h2>-->

  <form #noteForm="ngForm" class="note-form" (ngSubmit)="submitNote(noteForm.value)">

    <div id="type-container">
      <div class="type" *ngFor="let type of noteTypes; let i = index">
        <mat-form-field class="select-form-field">
          <mat-label>type</mat-label>
          <mat-select class="select-dropdown" placeholder="type" [(ngModel)]="type" [name]="'type_' + i" ngModel>
            <mat-option *ngFor="let poiType of getTypes()" [value]="poiType.type">
              {{capName(poiType.label)}}
            </mat-option>
            <mat-option class="delete" *ngIf="noteTypes.length > 1" (click)="removeType(i)">
              delete
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-stroked-button class="add-type-btn" *ngIf="noteTypes.length < 3" (click)="addType()" type="button">+ Add Type</button>
    </div>

    <mat-form-field id="title-container">
      <input matInput placeholder="title" name="title" id="title" ngModel #titleField (focus)="onFocus($event)">
    </mat-form-field>

    <mat-form-field id="note-container">
      <textarea matInput placeholder="note" name="note" id="note" rows="4" ngModel maxlength="140" (focus)="onFocus($event)"></textarea>
    </mat-form-field>

    <div class="btn-group">
      <button mat-stroked-button (click)="onButtonClick('cancel')" type="button">Cancel</button>
      <button mat-stroked-button color="primary" type="submit">Save</button>
      <mat-checkbox name="share" [ngModel]="true">Share with developer</mat-checkbox>
    </div>
  </form>

  <br><br><br><br><br><br><br><br> <!-- fixes Android keyboard issues -->

</mat-card-content>
