<mat-card-content>

  <h2>Add location</h2>

  <form #noteForm="ngForm" class="example-form" (ngSubmit)="submitNote(noteForm.value)">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="title" name="title" id="title" ngModel #titleField>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="note" name="note" id="note" rows="5" ngModel maxlength="140"></textarea>
    </mat-form-field>

    <mat-form-field class="select-form-field">
      <mat-select placeholder="type" [(ngModel)]="defaultType" name="type" ngModel>
        <mat-option *ngFor="let poiType of getTypes()" [value]="poiType.type">
          {{poiType.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox name="share" [ngModel]="true">Share (with developer!)</mat-checkbox>

    <div class="btn-group">
      <button mat-stroked-button (click)="onButtonClick('cancel')" type="button">Cancel</button>
      <button mat-stroked-button color="primary" type="submit">Save</button>
    </div>
  </form>

</mat-card-content>
