\:host ::ng-deep

  mat-card-content
    display: block
    padding: 0 12px

    h2
      text-align: center
      margin-bottom: 0 !important

    mat-form-field
      width: 100% !important

      .mat-form-field-infix
        border-top: 0 !important

      .mat-select, input, textarea
        box-sizing: border-box !important
        padding: 0 12px !important
        background-color: #EEE !important
        border-radius: 6px !important
        border: none !important

      textarea
        padding: 12px !important

      .mat-select, input
        height: 48px !important

        .mat-select-trigger
          height: 48px

    .btn-group
      text-align: center
      margin-bottom: 12px

      button
        margin: 0 6px

    .mat-form-field-underline
      display: none

      .mat-list-item-content
        padding: 0 12px !important
        margin: 0 !important

