<mat-card #panel>

  <mat-card-header>
    <mat-card-title>User:</mat-card-title>
  </mat-card-header>

  <section>
    <input type="string" value="" (input)="onUserNameChange($event.target.value)" placeholder="user name">
  </section>


  <mat-card-header>
    <mat-card-title>General:</mat-card-title>
  </mat-card-header>

  <section>
    <mat-form-field class="direction">
      <mat-select [value]="direction" (selectionChange)="onDirectionSelect($event)">
        <mat-option *ngFor="let direction of directionList" [value]="direction.id">
          {{direction.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-checkbox name="showSnow" [(ngModel)]="showSnow" (change)="onCheckboxChange($event)">show snowpack</mat-checkbox>
    <br/>

    <mat-radio-group [(ngModel)]="screenMode">
      <mat-radio-button *ngFor="let mode of screenModes" [value]="mode.value" (click)="onRadioClick(mode.value)">
        {{mode.label}}
      </mat-radio-button>
    </mat-radio-group>
  </section>

  <mat-card-header>
    <mat-card-title>Point of interest:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section>
      <div>
        distance (in ft.) before a point of interest is considered 'off trail'
        <input type="number" value="250">
      </div>
      <div>
        distance (in ft.) before a user is considered 'off trail'
        <input type="number" value="250">
      </div>
    </section>
  </mat-card-content>


  <mat-card-header>
    <mat-card-title>Elevation Profile:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section>
      <div *ngFor="let poiType of majorPoiTypes">
        <mat-checkbox [name]="createCamelCaseName(poiType, 'show')" [(ngModel)]="this[createCamelCaseName(poiType, 'show')]" (change)="onCheckboxChange($event)">Show {{poiType}}</mat-checkbox>
        <br/>
      </div>
      <hr/>
      <mat-checkbox name="showMiniMap" [(ngModel)]="showMiniMap" (change)="onCheckboxChange($event)">Show mini-map</mat-checkbox>
      <br/>
      <mat-checkbox name="parallaxEnabled" [(ngModel)]="parallaxEnabled" (change)="onCheckboxChange($event)">Enable parallax</mat-checkbox>
    </section>
  </mat-card-content>

  <mat-card-header>
    <mat-card-title>Details Page:</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <section class="example-section">
      <div>no settings available</div>
    </section>
  </mat-card-content>

</mat-card>
