<mat-card #panel>

  <h2>Settings</h2>

  <mat-card-content>

    <h3>Display Mode</h3>

    <section>
      <mat-radio-group [(ngModel)]="screenMode">
        <mat-radio-button *ngFor="let mode of screenModes" [value]="mode.value" (click)="onRadioClick(mode.value)">
          {{mode.label}}
        </mat-radio-button>
      </mat-radio-group>

      <br/>
    </section>

    <h3>Elements</h3>

    <mat-checkbox name="showSnow" [(ngModel)]="showSnow" (change)="onCheckboxChange($event)">show snowpack</mat-checkbox>

    <section>

      <!--<mat-form-field>-->
        <!--<input type="number" value="250" input="" placeholder="Poi offtrail distance (ft.)">-->
      <!--</mat-form-field>-->

      <!--<mat-form-field>-->
        <!--<input type="number" value="250" input="" placeholder="User offtrail distance (ft.)">-->
      <!--</mat-form-field>-->

      <!--<hr/>-->

      <!--<mat-form-field>-->
        <!--<input type="number" value="1000" input="" placeholder="Poi render radius (ft.)">-->
      <!--</mat-form-field>-->
    </section>

    <h3>Elevation Profile</h3>

    <section>
      <div *ngFor="let poiType of majorPoiTypes">
        <mat-checkbox [name]="createCamelCaseName(poiType, 'show')" [(ngModel)]="this[createCamelCaseName(poiType, 'show')]" (change)="onCheckboxChange($event)">Show {{poiType}}</mat-checkbox>
      </div>
      <hr/>
      <mat-checkbox name="showMiniMap" [(ngModel)]="showMiniMap" (change)="onCheckboxChange($event)">Show mini-map</mat-checkbox>
      <mat-checkbox name="parallaxEnabled" [(ngModel)]="parallaxEnabled" (change)="onCheckboxChange($event)">Enable parallax</mat-checkbox>
    </section>

    <h3>Scroll Map</h3>

    <section>
      <mat-checkbox name="animateMap" [(ngModel)]="animateMap" (change)="onCheckboxChange($event)">Animate Map (buggy)</mat-checkbox>
      <mat-checkbox name="showMileGrid" [(ngModel)]="showMileGrid" (change)="onCheckboxChange($event)">Show Mile Grid (buggy)</mat-checkbox>
      <mat-checkbox name="detectRetina" [(ngModel)]="detectRetina" (change)="onCheckboxChange($event)">Use Retina Tiles (battery intensive)</mat-checkbox>
    </section>

  </mat-card-content>
</mat-card>
