<mat-card>

  <mat-card-header>
    <mat-card-title>User:</mat-card-title>
  </mat-card-header>

  <section>
    <input type="string" value="" placeholder="user name">
  </section>


  <mat-card-header>
    <mat-card-title>General:</mat-card-title>
  </mat-card-header>

  <section>

    <mat-form-field class="direction">
      <mat-select [value]="direction" (selectionChange)="onDirectionSelect($event)">
        <mat-option *ngFor="let direction of directionList" [value]="direction.id">
          {{direction.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-checkbox class="example-margin" name="showSnowPack" [(ngModel)]="showSnowPack" (change)="onCheckboxChange($event)">show snowpack</mat-checkbox>

    <section class="example-section">
      <h5>Point of interest</h5>
      max poi distance off trail
      <input type="number" value="250">
    </section>

    <section class="example-section">
      <h5>User</h5>
      user off trail
      <input type="number" value="250">
    </section>

  </section>

  <mat-card-header>
    <mat-card-title>Elevation Profile:</mat-card-title>
  </mat-card-header>

  <section>
    <mat-checkbox class="example-margin" name="showCampSites" [(ngModel)]="showCampSites" (change)="onCheckboxChange($event)">show campsites</mat-checkbox>
    <br/>
    <mat-checkbox class="example-margin" name="showMiniMap" [(ngModel)]="showMiniMap" (change)="onCheckboxChange($event)">show mini-map</mat-checkbox>
  </section>

  <mat-card-header>
    <mat-card-title>Details Page:</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <section class="example-section">
      <div>something</div>
    </section>
  </mat-card-content>

</mat-card>
