\:host
  .showNav
    margin-top: 0
    visibility: visible
    transform: scale(1)
    transition: visibility 200ms linear, margin-top 100ms ease-out

  .hideNav
    margin-top: -400px
    visibility: hidden
    transition: visibility 200ms linear, margin-top 100ms ease-in

  .hidden
    display: none
    visibility: hidden

\:host::ng-deep

  .note:not(.multiple)
    color: rgba(95, 83, 73, 0.85)

  .fa-marker
    color: white
