<!-- just to use its classes -->
<mat-action-list class="hidden"></mat-action-list>

<cdk-virtual-scroll-viewport
  class="mat-list mat-list-base"
  id="poi-list"

  orientation="vertical"
  [itemSize]="itemSize"

  (scrolledIndexChange)="onScroll($event)"

  #poiList>

  <poi-dynamic-item *cdkVirtualFor="let poi of this.combinedData; templateCacheSize: cacheSize; trackBy: trackElementBy"

                    class = "mat-list-item mat-2-line mat-list-item-avatar mat-list-item-with-avatar"

                    [data] = "poi"
                    [status] = "status"
                    [timestamp] = "timestamp"
                    (click) = "onListItemClick(poi)"

                    matRipple>
  </poi-dynamic-item>

</cdk-virtual-scroll-viewport>

<user-indicator [userPosition]="userPosition" [status]="status" (click)="scrollToUser()"></user-indicator>
