<cdk-virtual-scroll-viewport
  class="mat-list mat-list-base"
  id="poi-list"

  orientation="vertical"
  itemSize="72px"
  templateCacheSize="10"

  #poiList>

  <poi-dynamic-item *cdkVirtualFor="let poi of this.combinedPoisArray"

                    class="mat-list-item mat-2-line mat-list-item-avatar mat-list-item-with-avatar"

                    [data]="poi"
                    [status]="poi.type === 'user' ? status : null"
                    [timestamp] = "timestamp"

                    (click)="onListItemClick(poi)"

                    matRipple>
  </poi-dynamic-item>

</cdk-virtual-scroll-viewport>

<!--poisorting-->
