<display-icon class="" [data]="this.poiTypes" showRating="true"></display-icon>

<div class="mat-list-text">
  <h2 matLine> {{data.label}} </h2>
  <p matLine>
    <span *ngIf="status !== 'tracking'"> {{data.anchorPoint.distanceTotal | distance:'meters':'miles':false:2:true}} </span>
    <span *ngIf="status === 'tracking' && data.distanceFromUser"> {{data.distanceFromUser | distance:'meters':'miles':false:2:true:true}} </span>
    <span> ({{this.data.waypoint.distance | distance:'meters':'miles':true}}) </span>
  </p>
</div>
