\:host

  #menu
    position: absolute
    top: -33px
    left: 0
    width: 100%

    button
      height: 33px !important
      width: 33px !important

  h3, p
    margin: 0 3px
    color: rgb(95, 83, 73) !important

  h3
    font-weight: 600 !important

.inline

  #menu
    position: relative !important
    display: inline !important
    width: unset !important
    top: unset !important
    left: unset !important

  h3
    display: inline !important
