\:host
  //background-color: #ebe5d9
  display: block
  width: 100%
  height: 100%

  .leaflet-container
    height: 100% !important
    background-color: rgba(0, 0, 0, 0.0)

  .leaflet-pane
    width: 100% !important
    height: 100% !important

    .icon-white
      color: white

    .user
      svg
        overflow: visible !important
