\:host

  #rate-container
    border-top: 1px solid #CCC
    background-color: #EEE
    padding: 12px

    #rate-toggle
      text-align: center
      padding-bottom: 12px

      h2
        display: inline
        font-size: 3.4vh
        font-family: Roboto, "Helvetica Neue", sans-serif
        font-weight: 500

      h2:not(.active)
        color: grey

      #divider
        color: #CCC

    #rating-panel

      h4
        margin: 0 auto !important
        font-size: 3vh

      #rating
        padding: 6px 0
