\:host

  #rate-toggle
    text-align: center
    padding-bottom: 12px

    h2
      display: inline
      font-size: 3.4vh
      font-family: Roboto, "Helvetica Neue", sans-serif
      font-weight: 500

    h2:not(.active)
      color: grey

    #divider
      color: #CCC

  #rate-container
    position: relative
    border-top: 1px solid #CCC
    background-color: #EEE
    padding: 12px

    #rating-panel

      h4
        margin: 0 auto !important
        font-size: 3vh

      #rating
        padding: 6px 0

  .warn::after
    position: absolute
    box-sizing: border-box

    top: 0
    left: 0
    width: 100%
    height: 100%

    background-color: rgba(238, 238, 238, 0.9)

    font-size: 12px
    text-align: center
    content: ""

    padding: 12px 25%

    -webkit-backdrop-filter: blur(3px)
    backdrop-filter: blur(3px)

  .warn-gps::after
    content: "Please enable GPS in order to rate this location."

  .warn-distance::after
    content: "You're currently > 4.5 miles from this location."
