leaflet-map .leaflet-tile-pane, app-elevation-profile .background-layer {
  filter: grayscale(100%) !important;
}

/*brightness(65%) contrast(340%)*/

app-elevation-profile .background-layer, app-elevation-profile virtual-list-component #guides,
app-elevation-profile virtual-list-component #axis {
  filter: grayscale(100%);
}

app-elevation-profile #wrap {
  background: unset !important;
}

leaflet-map .label, app-elevation-profile virtual-list-component .label,
app-elevation-profile virtual-list-component .guide-label, navigation-component display-button button,
navigation-component locator-button button {
  background-color: white !important;
  border: 1px solid #777 !important;
}

app-elevation-profile virtual-list-component .meta {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+0,f6f6f6+100&1+0,0+70 */
  background: -moz-linear-gradient(top, rgba(246,246,246,0.85) 0%, rgba(246,246,246,0) 70%, rgba(246,246,246,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(246,246,246,0.85) 0%,rgba(246,246,246,0) 70%,rgba(246,246,246,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(246,246,246,0.85) 0%,rgba(246,246,246,0) 70%,rgba(246,246,246,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#00f6f6f6',GradientType=0 ); /* IE6-9 */
}

app-elevation-profile virtual-list-component .tree-marker {
  color: rgba(240,240,240,0.65) !important;
}


app-elevation-profile scrollbar-component .viewport-wrapper .viewport {
  border-color: #777 !important;
  background-color: rgba(160,160,160,0.65) !important;
}

app-elevation-profile guides .guide, app-elevation-profile virtual-list-component display-list-item{
  border-color: #999 !important;
}
