\:host
  display: block
  width: 100%
  min-height: 100%
  height: auto
  padding-bottom: 12px

  #purchase-trails
    background: unset
    border: unset
    box-shadow: unset
    padding-bottom: 0
    border-radius: unset

    .sign-PCT
      background-image: url("../../../../../../assets/images/panel-backgrounds/pct.jpg")

    .sign-CDT
      background-image: url("../../../../../../assets/images/panel-backgrounds/cdt.jpg")

    .sign-SHR
      background-image: url("../../../../../../assets/images/panel-backgrounds/shr.jpg")

    .purchase-container
      perspective: 1000px
      background-size: cover
      height: 200px
      overflow-y: hidden
      border-radius: 12px
      margin-bottom: 6px
      border: 1px solid #CCC
      //display: flex
      //flex-wrap: wrap
      //align-items: flex-end

      .sign
        max-width: 75%
        height: 100%
        margin: 0 5% 0 auto
        padding-top: 12px

        -ms-transform: rotate(1deg) skewY(3deg) skewX(-3deg) rotateX(-10deg) /* IE 9 */
        -webkit-transform: rotate(1deg) skewY(3deg) skewX(-3deg) rotateX(-10deg) /* Safari 3-8 */
        transform: rotate(1deg) skewY(3deg) skewX(-3deg) rotateX(-10deg)

        .cap
          display: block
          width: 48px
          margin: 0 auto -3px auto

        .post
          background-image: url("../../../../../../assets/images/sign-post/post-backgound.jpg")
          background-position: center top
          background-repeat: repeat-y
          padding: 24px 0 48px 0
          width: 100%
          text-align: center

          button
            width: auto
            box-sizing: border-box
            padding: 20px 12px 0px 12px
            text-align: center
            text-wrap: normal
            white-space: normal
            line-height: 24px
            font-size: 18px
            text-shadow: 1px 1px 1px rgba(255,255,255,0.25)
            border-radius: 6px

            -ms-transform: rotate(-1deg) skewY(1deg) /* IE 9 */
            -webkit-transform: rotate(-1deg) skewY(1deg) /* Safari 3-8 */
            transform: rotate(-1deg) skewY(1deg)

            .unavailable
              color: red

            .free
              color: green

            p
              margin: 0
              padding: 0

              small
                text-wrap: none
                white-space: nowrap

            .marker
              width: 48px
              height: 48px
              margin-bottom: 6px
              opacity: 0.8

          button::after
            content: "•"
            background-image: url("../../../../../../assets/images/sign-post/sign-background.jpg")
            opacity: 1
            width: 100%
            height: 100%
            left: 0
            bottom: 0
            position: absolute
            z-index: -1
            border-radius: 6px
            vertical-align: bottom
            border-top: 3px solid #8c7457

          button:disabled
            color: rgba(0,0,0,.87)

          button:disabled::after
            opacity: 1



    //.purchase-container .sign:not(:first-child)
    //  margin-left: 5%
    //
    ///* one item */
    //.purchase-container .sign:first-child:nth-last-child(1)
    //  width: 100%
    //
    ///* two items */
    //.purchase-container .sign:first-child:nth-last-child(2),
    //.purchase-container .sign:first-child:nth-last-child(2) ~ .sign
    //  width: 47.5%
