<mat-card id="purchase-trails">

  <!--<h2>Purchase Trail Data</h2>-->

  <mat-card-content>
    <section class="purchase">
      <div *ngFor="let trail of availableTrailList" class="purchase-container sign-{{trail.abbr}}" >
        <div class="sign">
          <img class="cap" src="../assets/images/sign-post/post-cap.png"/>
          <div class="post">
            <button mat-raised-button
                    [value]="trail.id"
                    (click)="onTrailPurchased(trail.id)"
                    [disabled]="!trail.availableForPurchase">
              <img class="marker" src="../assets/images/logos/{{trail.abbr}}.png" width="48" height="48"/>
              <!--<div class="unavailable" *ngIf="!trail.availableForPurchase">Unavailable</div>-->
              <!--<div class="free" *ngIf="trail.isFree">Free</div>-->
              <p>{{trail.name}}
                <!--<small>({{trail.length}} mi.)</small>-->
              </p>
              <div>•</div>
            </button>
          </div>
        </div>
      </div>
    </section>
  </mat-card-content>
</mat-card>
