/* generic styling */

@font-face
  font-family: "NationalPark"
  src: url('assets/fonts/nationalpark-regular-webfont.eot')
  src: local('NationalPark')
  src: url('assets/fonts/nationalpark-regular-webfont.woff') format('woff')
  src: url('assets/fonts/nationalpark-regular-webfont.otf') format('opentype')
  src: url('assets/fonts/nationalpark-regular-webfont.ttf') format('truetype')

html, body
  display: block
  height: 100%
  max-height: 100%
  width: 100%
  max-width: 100%
  overflow: hidden
  background-color: #EEE

body
  position: absolute
  overscroll-behavior: contain
  margin: 0px 0px 0px 0.4px     // margin left keeps cdk scroll smooth on mobile (android)
  font-family: Roboto, "Helvetica Neue", sans-serif
  overflow: hidden

.offline
  border: 5px solid red

.grey-scale
  -webkit-filter: grayscale(100%)
  -moz-filter: grayscale(100%)
  filter: grayscale(100%)

h1, h2, h3, h4, h5, h6
  font-family: 'NationalPark', Roboto, sans-serif
  font-weight: normal
  font-style: normal

// hide webkit scrollbar
// TODO: this does not work on iOS for some unknown reason, it should... sometimes it does...
::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb
  width: 0 !important  /* remove scrollbar space */
  height: 0 !important
  background: transparent !important /* optional: just make scrollbar invisible */
  display: none

// make text unable to select
*
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

// ...except for inputs
input, textarea
  -webkit-user-select: auto !important
  -moz-user-select: auto !important
  -ms-user-select: auto !important
  user-select: auto !important

// icon button (font awesome for angular)
fa-icon
  text-rendering: optimizeLegibility

  .icon
    color: #555

  .badge, .spinner
    display: block
    border-radius: 50%
    padding: 0.35vw
    width: 1.5vw
    height: 1.5vw
    font-size: 1.5vw
    left: -3.5vw !important
    top: -3.5vw !important

  .spinner
    -webkit-box-shadow: -2px -2px 10px rgba(0,0,0,.1) inset, 2px 2px 10px white inset
    -moz-box-shadow: -2px -2px 10px rgba(0,0,0,.1) inset, 2px 2px 10px white inset
    box-shadow: -2px -2px 10px rgba(0,0,0,.1) inset, 2px 2px 10px white inset
    background: rgba(190,230,250,0.75)
    color: #555

  .badge
    border: 1px solid white
    background: #88b2c7
    color: white


// dialog
.mat-dialog-container
  padding: 0 !important

// the offtrail dialog container background (cdk)
.offtrail-dialog .mat-dialog-container
    background-color: transparent !important
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+30,ffffff+100&0+0,1+30,1+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%) /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%) /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ) /* IE6-9 */

    border-radius: 3vw 10vw 0 0

// dialog backdrop (cdk)
.cdk-overlay-dark-backdrop
  background-color: rgba(86,104,114, 0.45)

// select overlay panel
.mat-select-panel
  max-height: 50vh !important

  .delete
    color: red !important

#type-container .select-form-field

  .mat-form-field-infix
    padding: 6px !important

  .mat-form-field-wrapper
    padding-bottom: 0 !important

  .mat-form-field-label-wrapper, .mat-form-field-subscript-wrapper
    display: none
    visibility: hidden

.mat-select-value
  vertical-align: middle // uses table-cell

.mat-form-field-label
  padding-left: 4px !important
  font-family: 'NationalPark', Roboto, sans-serif !important
  font-weight: normal
  font-style: normal
