<mat-card id="trail-selector">

  <h2>Trail Downloads</h2>

  <mat-card-content>
    <section>
      <mat-form-field class="select-form-field">
        <mat-select [value]="activeTrail.id" (selectionChange)="onTrailSelect($event)" #trailSelector>
          <mat-option *ngFor="let trail of purchasedTrailList" [value]="trail.id">
            {{trail.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section id="download">

      <div *ngIf="hasInternet">{{(!hasWifi) ? 'Cellular network detected, consider locating wifi before downloading large files!' : ''}}</div>

      <downloader
        *ngFor="let downloader of downloaders"

        [hasFile]="hasFile(downloader)"
        [version]="displayVersion(downloader)"
        [hasUpdate]="updateAvailable(downloader)"
        [type]="downloader"
        [trailId]="activeTrail.id"
        [file]="downloader"
        [isVersionSpecific]="(downloader !== 'snow') ? true : false"
        [extension]="(downloader !== 'tiles') ? 'json' : 'zip'"
        [parts]="(downloader === 'tiles') ? activeTrail.tilesFileCount : 1"
        [onComplete]="onDownloadComplete.bind(this)"
        [onClear]="onDownloadCleared.bind(this)"
      >
      </downloader>

    </section>

  </mat-card-content>

</mat-card>
