::ng-deep

  .mat-form-field-wrapper
    padding-bottom: 0px !important

  .select-form-field
    .mat-select
      //background-color: salmon !important

#download
  border-radius: 0 0 6px 6px
  background-color: #F9F9F9
  padding: 36px 0 12px 0
  margin-top: -12px !important

.warning
  text-align: center
