<mat-card id="trail-selector">

  <h2>Select Trail</h2>

  <mat-card-content>
    <section>
      <mat-form-field class="select-form-field">
        <mat-select [value]="activeTrail.id" (selectionChange)="onTrailSelect($event)">
          <mat-option *ngFor="let trail of purchasedTrailList" [value]="trail.id">
            {{trail.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section id="download">

      <div *ngIf="hasInternet">{{(!hasWifi) ? 'Cellular network detected, consider locating wifi before downloading large files!' : ''}}</div>

      <downloader [trailAbbr]="activeTrail.abbr" [label]="'Trail data'" [fileSize]="activeTrail.tileDataSize" [downloadPath]="basePath + version + '/trail.zip'"  [name]="activeTrail.abbr + '_trail'"></downloader>
      <downloader [trailAbbr]="activeTrail.abbr" [label]="'Snow data'" [fileSize]="activeTrail.tileDataSize" [downloadPath]="basePath + version + '/snow.zip'"  [name]="activeTrail.abbr + '_snow'"></downloader>
      <downloader [trailAbbr]="activeTrail.abbr" [label]="'Map tiles'" [fileSize]="activeTrail.tileDataSize" [downloadPath]="basePath + version + '/tiles.zip'"  [name]="activeTrail.abbr + '_tiles'" [callback]="onTilesDownloaded.bind(this)"></downloader>

    </section>

  </mat-card-content>

</mat-card>
